@font-face {
  font-family: "Cradust";
  src: url("./font/Cardust.otf");
}
html,
body {
  overflow-x: hidden;
}
.my-container {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}

#play,
#pause {
  float: left;
  width: 40px;
}
#play:hover,
#pause:hover {
  cursor: pointer;
}
#pause {
  display: none;
}

.brand {
  display: none;
}

.nav-li {
  border-right: 8px solid black;
  text-align: center;
}

.nav-a {
  font-size: 30px;
  font-family: "Cradust";
}

#ancor:hover {
  background: black;
}

.hwtb:hover {
  background: white;
}

#hero {
  position: relative;
}

#black-border {
  width: 100%;
  position: absolute;
  bottom: -35px;
  right: 0;
}

.about {
  position: relative;
}

.abt-div {
  margin-top: 50;
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.inner-div {
  padding: 20px 15px;
  border: 16px solid #f9dc5c;
  background: #fae686;
  text-align: center;
}

.abt-heading {
  font-weight: 800;
  font-family: Cradust;
  font-size: 10rem;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #000000;
}

#tex-div {
  width: 800px;
  max-width: 100%;
}

.abt-img {
  margin-top: 30px;
}

.second-black {
  width: 100%;
  position: absolute;
  bottom: -135px;
  right: 0;
}

#howtobuy {
  margin-top: 50px;
}

.buy-div {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 5px 0;
}
.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.buy-heading {
  font-size: 109px;
  font-weight: 400;
  line-height: 166px;
  color: #000000;
  font-weight: 400 !important;
}

.buy-p {
  font-size: 25px;
  font-weight: 300;
  line-height: 37px;
}

.skewed-div {
  transform: skewY(-2deg); /* Adjust the angle as needed */
  margin: 50px 0;
}
.skewed-two {
  transform: skewY(2deg); /* Adjust the angle as needed */
  margin: 50px 0;
}
.skewed-third {
  transform: skewY(-2deg); /* Adjust the angle as needed */
  /* padding-bottom: 150px; */
}

#tokenomics {
  background: url("./assets/asset\ 11.webp");
  background-position: center;
  background-size: cover;
  height: 150vh;
}

.horse-animation {
  animation: moveHorse 2s infinite;
}

@keyframes moveHorse {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Adjust the distance as needed */
  }
  100% {
    transform: translateX(0);
  }
}

.pulse-animation {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; */
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
  }
  100% {
    transform: scale(1.2);
  }
}

.token-details {
  position: relative;
}

.bt_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -41%;
  position: relative;
}
.token-back-img {
  width: 100%;
  /* height: 80vh; */
  margin-top: -200px;
  transform: skewY(-1deg);
}
.htb_text {
  font-size: 20px;
}

.details {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  font-family: "Cradust";
  text-align: center;

  background: white;
  padding: 50px 65px;
  border: 4px solid black;
  border-radius: 30px;
}

.left-img {
  width: 180px;
  position: absolute;
  top: -8%;
  left: 25%;
}

.right-img {
  width: 200px;
  position: absolute;
  top: -10%;
  right: 28%;
}

.details h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.bottom-img {
  width: 800px;
  position: absolute;
  bottom: 5%;
  right: 32%;
}

.footer {
  background: #19337e;
  height: 70vh;
  margin-top: -190px;
}

.footer-h {
  padding: 10% 0;
  font-size: 40px;
  font-weight: 600;
  font-family: "Cradust";
  color: white;
}

@media screen and (max-width: 768px) {
  .brand {
    display: block;
  }

  nav {
    background: #f9e489;
  }

  .abt-div {
    margin: 0;
    flex-direction: column;
  }

  .inner-div {
    padding: 0;
  }

  .abt-heading {
    font-size: 7rem;
  }

  #black-border {
    bottom: -25px;
  }

  #howtobuy img {
    margin-top: 40px;
  }

  .buy-div {
    gap: 20px;
    padding: 0 20px;
  }

  .buy-heading {
    font-size: 80px;
    font-weight: 400;
    line-height: 86px;
    color: #000000;
  }

  .buy-p {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
  }

  /* --------------------------------------------------- */

  #tokenomics {
    height: 82vh;
  }

  .token-back-img {
    width: 100%;
    height: 40vh;
    margin-top: -200px;
    transform: skewY(-1deg);
  }

  .left-img {
    width: 100px;
    position: absolute;
    top: -50%;
    left: 20%;
  }

  .right-img {
    width: 120px;
    position: absolute;
    top: -52%;
    right: 20%;
  }

  .details h1 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .bottom-img {
    width: 354px;
    position: absolute;
    right: 8%;
    top: 40%;
  }

  .footer {
    background: #19337e;
    height: 100vh;
    margin-top: -190px;
  }

  .footer-h {
    padding-top: 70px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Cradust";
    color: white;
  }
}
.bg_img {
  background-color: #19337e;
  background-image: url("./assets/asset 15.png");
  background-size: cover;
  background-position: center center;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Cradust";
  text-align: center;
  background: white;
  padding: 50px 65px;
  border: 4px solid black;
  border-radius: 30px;
  /* transform: translate(10%, -194%); */
}

.ban_img {
  width: 50%;
}
.tkn_img {
  width: 30%;
}
.tkn_txt {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .ban_img {
    width: 90%;
  }
  .tkn_txt {
    width: 70%;
  }
  .tkn_img {
    width: 70%;
  }
  .details {
    width: 100%;
    max-width: 562px;
    margin: 0 auto;
    font-family: "Cradust";
    text-align: center;
    background: white;
    padding: 30px 65px;
    border: 4px solid black;
    border-radius: 30px;
  }
  .bg_img {
    background-color: #19337e;
    background-image: url("./assets/asset 15.png");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bt_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110%;
    position: relative;
  }
}
